<h1><%= @restaurant.name %></h1>
<h2>Infos</h2>
<p><strong>Phone number:</strong> <%= @restaurant.phone_number %></p>
<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Category:</strong> <%= @restaurant.category %></p>
<h2>Reviews sample</h2>
<ul>
<%@restaurant.reviews.sample(3).each do |review|%>
  <li class="card my-4 p-3">
    <p>Rating: <%= review.rating %>/5<i class="fa-solid fa-star"></i></p>
    <p><%= review.content %></p> </li>
<%end %>
</ul>
<div class="mb-3">
  <%= link_to "More reviews", restaurant_reviews_path(@restaurant), class:"btn btn-outline-secondary"%>
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class:"text-decoration-none mx-3"%>
</div>
